#main-container {
	margin: 15vh auto;
}

#register-container {

	width: 150px;
	margin: 2vh auto;

}

#reg-button {
	background: #343d46;
	border: 3px solid #187498;

}

#reg-button:hover {
	background: orange;
	color: white;
	border: 3px solid #343d46;
}

#submit-button {
	background: #36AE7C;
}

#submit-button:hover {
	background: orange;
	border: 3px solid #343d46;
}