#main-container {
	margin: 15vh auto;
}

#register-container {

	width: 150px;
	margin: 2vh auto;

}

#reg-button {
	background: #187498;
	border: 3px solid #343d46;
}

#reg-button:hover {
	background: orange;
	color: white;
}

#submit-button {
	background: #36AE7C;
	border: 3px solid #343d46;
}

#submit-button:hover {
	background: orange;
	border: 3px solid #343d46;
}